body{
    margin: 0;
    background-color: rgb(206, 255, 101);
    font-family: 'Permanent Marker', sans-serif;
    color: rgb(4, 47, 84);
}

#title_main{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.title_text{
    margin-bottom: 20px;
    font-size: 60px;
}

#first{
    opacity: 0;
}

#second{
    opacity: 0;
}

#third{
    opacity: 0;
    font-size: 80px;
}

#play-btn{
    margin-top: 100px;
    opacity: 0;
    font-size: 100px;
    font-family: inherit;
    border: none;
    background-color: rgb(206, 255, 101);
    color: inherit;
    cursor: pointer;
}

a{
    text-decoration: underline;
    color: inherit;
}

/* GAME HTML */

#entireHead{
    display: flex;
}

#headToTitle{
    font-size: 25px;
    margin-left: 25px;
    margin-right: auto;
    font-family: inherit;
    border: none;
    background-color: rgb(206, 255, 101);
    color: inherit;
    cursor: pointer;
}

#reset:last-child{
    text-decoration: underline;
    margin-right: 25px;
    margin-left: auto;
    font-size: 25px;
    font-family: inherit;
    border: none;
    background-color: rgb(206, 255, 101);
    color: inherit;
    cursor: pointer;
}

.header{
    opacity: 0;
    font-size: 70px;
    text-align: center;
}

#subtext{
    font-size: 30px;
}

#letters_container{
    text-align: center;
    opacity: 0;
    width: 75%;
    margin: 50px auto 0 auto;
    height: fit-content;
}

.letter-btn{
    color: rgb(4, 2, 52);
    background-color: rgb(206, 255, 101);
    border: none;
    font-family: inherit;
    font-size: 60px;
    cursor: pointer;
    border-radius: 50px;
    margin-right: 5px;
}

#emptySpaces{
    opacity: 0;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

#emptyLetter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

#lives{
    font-size: 50px;
    color: rgb(172, 26, 26);
}
